#!/usr/bin/env bash

# Make nano the default editor. Gets changed elsewhere based on environment.
export EDITOR='nano';

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Automatically trim long paths in the prompt (requires Bash 4.x)
export PROMPT_DIRTRIM=4

# disable macOS terminal history sessions
export SHELL_SESSION_HISTORY=0

# Hide the “default interactive shell is now zsh” warning on macOS.
export BASH_SILENCE_DEPRECATION_WARNING=1;

# Huge history. Doesn't appear to slow things down, so why not?
export HISTSIZE=500000
export HISTFILESIZE=100000

# Avoid duplicate entries
export HISTCONTROL="erasedups:ignoreboth"

# Don't record some commands
export HISTIGNORE="&:[bf]g:c:clear:history:exit:q:pwd:* --help"

# Add timestamps to history output
export HISTTIMEFORMAT='%F %T ';

# Record each line as it gets issued
export PROMPT_COMMAND="${PROMPT_COMMAND:+$PROMPT_COMMAND;}history -a;history -n"

# Prefer US English and use UTF-8.
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"
export LC_CTYPE="en_US.UTF-8"

# Highlight section titles in manual pages.
# export LESS_TERMCAP_md="${yellow}";
export LESS_TERMCAP_md="${cyan}";
export LESS_TERMCAP_me="${reset}";
export LESS_TERMCAP_se="${reset}";
export LESS_TERMCAP_so="${yellow}";
export LESS_TERMCAP_ue="${reset}";
export LESS_TERMCAP_us="${green}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -RqX';

# Set Colour LS Output
export CLICOLOR=yes
export COLORTERM=true
export ANSICON=true

# Make the "sudo" prompt more useful, without requiring access to "visudo".
export SUDO_PROMPT='[sudo] password for %u on %h: ';

# GPG agent/ssh agent Setup
export GPG_TTY="$(tty)"
if [[ -n "$SSH_CONNECTION" ]] ;then
  export PINENTRY_USER_DATA="USE_CURSES=1"
fi

# Local Perl Libs
export PERL5LIB="$HOME/perl5/lib/perl5${PERL5LIB:+:${PERL5LIB}}";
export PERL_LOCAL_LIB_ROOT="$HOME/perl5${PERL_LOCAL_LIB_ROOT:+:${PERL_LOCAL_LIB_ROOT}}";
export PERL_MB_OPT="--install_base \"$HOME/perl5\"";
export PERL_MM_OPT="INSTALL_BASE=$HOME/perl5";

# Composer
export COMPOSER_FUND=0