# Automatically normalize line endings for all text-based files
#* text=auto
# Disabled because of https://github.com/mathiasbynens/dotfiles/issues/149 :(

*.min.js diff=minjs
*.bundle.js diff=minjs
*.min.css diff=mincss