# Useful `.gitignore` templates:
# https://github.com/github/gitignore

# ----------------------------------------------------------------------
# | Linux                                                              |
# ----------------------------------------------------------------------

*~


# ----------------------------------------------------------------------
# | Miscellaneous                                                      |
# ----------------------------------------------------------------------

# Node.js & npm.

node_modules
npm-debug.log
yarn-debug.log
pnpm-debug.log

# Compiled python
*.pyc
*.pyo

# ----------------------------------------------------------------------
# | macOS                                                              |
# ----------------------------------------------------------------------

._*
.AppleDouble
.DS_Store
.localized
.LSOverride
.Spotlight-V100
.Trashes
Icon


# ----------------------------------------------------------------------
# | Vim                                                                |
# ----------------------------------------------------------------------

%*
*.sw[a-z]
*.un~
.netrwhist
Session.vim


# ----------------------------------------------------------------------
# | Windows                                                            |
# ----------------------------------------------------------------------

Desktop.ini
ehthumbs.db
Thumbs.db

# This dotfiles repo - Ignore sd
.sd