set tabsize 2
set autoindent
set constantshow
set historylog
set mouse
set nonewlines
set nowrap

# Syntax highlighting (doesn't support shell expansion, so use a symlink)
include ~/.config/nano/syntax/*.nanorc
